VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_TEMPLATE_ID_OWNER=your_template_id_owner_here
VITE_RECEIVER_EMAIL=your_receiver_email_here
VITE_CV_URL=your_cv_url_here